{% extends 'base.html' %}


{% block konten %}
    <div style="border: 2px solid black">
        <h1>Ini adalah bodi</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit elementum vulputate. Nullam
            condimentum tellus augue, eget venenatis orci dictum eget. Curabitur ipsum augue, mattis ut sodales nec,
            porta ac augue. Suspendisse maximus posuere lectus id cursus. Morbi quis posuere nisl. Mauris a ex tempus,
            facilisis leo sit amet, consectetur turpis. Donec sed lacinia ligula. Phasellus volutpat augue eu orci
            dapibus, quis convallis tellus bibendum. Duis leo eros, placerat sit amet libero eget, sagittis vulputate
            tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam
            porttitor tortor nisl, eget scelerisque orci rhoncus facilisis. Mauris vehicula tellus metus, vel suscipit
            tellus efficitur et.</p>
    </div>
{% endblock %}