<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <!--
        <a class="navbar-brand" href="#"><h1>Absensi</h1></a>
        -->

        <button class="navbar-toggler" type="button" data-toggler="collapse" data-targer="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'indexUrl' %}">Beranda</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nominatif
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'nominatifApp:indexUrl' %}">Daftar Pegawai</a>
{% comment %}
                        <a class="dropdown-item" href="{% url 'nominatifApp:uploadUrl' %}">Upload</a>
{% endcomment %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logoutUrl' %}">Keluar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>