{% extends "base.html" %}

{% block blokTitle %}
    {{ titleKey }}
{% endblock blokTitle %}

{% block blokHeader %}
    {{ titleKey }}
{% endblock blokHeader %}

{% block blokIsi %}
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">NO.</th>
            <th scope="col">NAMA</th>
            <th scope="col">NIP</th>
            <th scope="col">GOLONGAN</th>
            <th scope="col">JABATAN</th>
            <th scope="col">BAGIAN</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock blokIsi %}