{% extends "base.html" %}

{% block blokTitle %}
    {{ titleKey }}
{% endblock %}

{% block containerHeader %}
    {{ headerKey }}
{% endblock %}

{% block blokIsi %}
    {% if formKey.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" enctype="multipart/form-data" method="post">
        <table>
            {{ formKey.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}