{% extends "base.html" %}

{% block blokTitle %}
    {{judul}}
{% endblock blokTitle %}

{% block blokHeader %}
    {{judul}}
{% endblock blokHeader %}

{% block blokIsi %}
  <table class="table table-hover">
		<thead class="thead-dark">
    		<tr>
      			<th scope="col">NO.</th>
      			<th scope="col">PROVINSI</th>
            <th scope="col">UANG HARIAN</th>
            <th scope="col">AKSI</th>
    		</tr>
  		</thead>
  		<tbody>
        {% for sbu in daftar_sbu_ %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{sbu.provinsi}}</td>
            <td>{{sbu.uang_harian}}</td>
            <td><a class="btn btn-danger" href="{% url "sbu:hapus" sbu.id %}">Hapus</a></td>
          </tr>
        {% endfor %}
  		</tbody>
	</table>
  <a class="btn btn-primary" href="{% url "sbu:tambah" %}">Tambah</a>
{% endblock blokIsi %}