{% extends 'base.html' %}

{% block blokTitle %}
    {{ titleKey }}
{% endblock %}

{% block blokHeader %}
    {{ titleKey }}
{% endblock %}

{% block blokIsi %}
    <form method="post">
        {% csrf_token %}
        <table>
            {% for field in pesertaFormKey %}
                <tr>
                    <td>
                        {{ field.error }}
                        {{ field.label_tag }}
                    </td>
                    <td>
                        {{ field }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <input class="btn btn-primary" type="submit" value="Simpan"/>
    </form>
{% endblock %}