<!DOCTYPE html>
<html>
<head>
    <title>Tambah Peserta</title>
    {% include "snippets/styles.html" %}
    {% include "snippets/scripts.html" %}
    <style type="text/css">
        body {
            background: #eee !important;
        }

        form {
            max-width: 380px;
            padding: 15px 35px 45px;
            margin: 80px auto;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h2>Tambah peserta rapat</h2>

        <table>
            {% for field in pesertaFormKey %}
                <tr>
                    <td>
                        {{ field.error }}
                        {{ field.label_tag }}
                    </td>
                    <td>
                        {{ field }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <input class="btn btn-primary" type="submit" value="Simpan"/>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_nip').blur(function () {
                $.ajax({
                    data: $(this).serialize(),
                    url: "{% url 'pesertaApp:getDataPesertaUrl'%}",
                    success: function (response) {
                        document.getElementById('id_nama').value = response.namaKey;
                        document.getElementById('id_jabatan').value = response.jabatanKey;
                        document.getElementById('id_unit_kerja').value = response.bagianKey;
                    },
                    error: function (response) {
                        console.log(JSON.parse(response.responseText));
                    }
                });
                return false;
            });
        })
    </script>
</body>
</html>