{% extends 'base.html' %}

{% block halaman_judul %}
    {{ artikel.judul }}
{% endblock %}


{% block konten %}
    <div class="row">
        <div class="col-md-8">
            <h1>{{ artikel.judul }}</h1>
            <h5>Kategori: {{ artikel.kategori }} | {{ artikel.published }}</h5>
            <p>{{ artikel.isi }}</p>
        </div>
        <div class="col-sm">
            <h3>Kategori</h3>
            <ul class="list-group list-group-flush">
                {% for kategori in kategori_list %}
                    <li class="list-group-item"><a href="{% url 'artikel:kategori' kategori 1 %}">{{ kategori }}</a></li>
                {% endfor %}
            </ul>
            <h3>Artikel Serupa</h3>
            <ul class="list-group list-group-flush">
                {% for artikel in artikel_serupa %}
                    {% if forloop.counter is not 3 %}
                        <li class="list-group-item">
                            <a href="{% url 'artikel:detail' artikel.slug %}">
                                <h5>{{ artikel.judul }}</h5>
                            </a>
                            <p>{{ artikel.published.date }}</p>
                        </li>
                    {% endif %}

                {% endfor %}
                <li class="list-group-item"><a href="{% url 'artikel:kategori' artikel.kategori 1 %}"><h5>Selengkapnya</h5></a></li>
            </ul>
        </div>
    </div>
{% endblock %}