{% extends 'accounts/main.html' %}

{% block content_main %}

    {% include 'accounts/status.html' %}
    <br>
    <div class="row">
        <div class="col-md-5">
            <h5>CUSTOMERS:</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Customer</th>
                        <th>Phone</th>
                    </tr>

                    {% for customer in key_customer %}
                        <tr>
                            <td><a href="{% url 'url_customer' customer.id %}" class="btn btn-sm btn-info">View</a></td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.phone }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="col-md-7">
            <h5>LAST 5 ORDERS</h5>
            <hr>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Date Order</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>

                    {% for order in key_order %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.date_created }}</td>
                            <td>{{ order.status.title }}</td>
                            <td><a href="{% url 'url_update_order' order.id %}" class="btn btn-sm btn-info">Update</a>
                            </td>
                            <td><a href="{% url 'url_delete_order' order.id %}" class="btn btn-sm btn-danger">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>


{% endblock %}